.mainDiv {
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}
/* *{
    color: #fff;
} */

html {
    font-family: 'Poppins';
    font: url('../../../PoppinsFonts/Poppins-ExtraBold.ttf');
}

h1,
h4 {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    color: #fff;
}

.mainDivContent {
    padding-top: 15%;
    backdrop-filter: brightness(40%);
    height: 100%;
    width: 100%;
}


.sportTitle {
    font-size: 1.5rem;
}

.Hero {
    font-size: 5rem;
    margin: 0 5%;
}

.secDiv {
    padding-top: 5%;
    height: auto;
    width: 100%;
    background-color: rgb(43,43,43);
}

.secDiv p {
    width: 50%;
}

.navbar{
    width: 100%;
    height: 5rem;
    background-color: grey;
  
  }

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3%;
    height: auto;
    width: 90%;
    margin: auto;
}

.card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /* margin: 2%; */
    height: 400px;
    width: 350px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
.card:hover
{
  bac
} */

.overlaycard {
    opacity: 0%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.4s ease;
}


.overlaycard:hover {
    opacity: 100%;
}

.customize {
    background-color: rgb(46, 46, 46);
    width: 80%;
    height: 10%;
    margin: 0% auto;
    margin-top: 94%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

}


@font-face {
    font-family: 'PoppinsLight';
    src: url('../../../PoppinsFonts/Poppins-Light.ttf');
}

.proDetails {

    margin-bottom: 40px;
}

.proDetails h1 {
    font-family: 'PoppinsLight';
    font-size: 1.2rem;
}



@media (min-width:1600px) {

    .sportTitle {
        font-size: 3rem;
    }

    .Hero {
        font-size: 7rem;
    }
}

@media (max-width:768px) {

    .sportTitle {
        font-size: 1.1rem;
    }

    .Hero {
        font-size: 3rem;
    }

}
.cardsContainer a
{    
    text-decoration: none;
    color: inherit;
}

@media (max-width:414px)
{
    .mainDivContent{
        padding-top: 40%;
    }
}